<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>User</th>
            <th>Tags</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |item|%>
            <tr>
                <td><%=item.title %> </td>
                <td><%=item.desc %></td>
                <td><%= link_to item.user.username, user_path(item.user) if item.user %></td>
                <td>
                    <% if item.categories.any? %>
                        Category:  <%= render item.categories  %>
                    <% end %>
                </td>
                <td>
                    <%= link_to 'Show', article_path(item) %>
                    <% if is_logged_in? && (item.user==current_user || current_user.admin?) %>
                        <%= link_to 'Edit', edit_article_path(item)%>
                        <%= link_to 'Delete', article_path(item), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>