<h1>
<%= @article.title %>
</h1>
<p>
    <%= @article.desc %>
</p>
<p>
    <%= 'Active' if @article.status == 0 %>
    <%= 'Inactive' if @article.status == 1 %>
</p>

<%= link_to 'Back', articles_path  %>
<%= link_to 'Edit', edit_article_path(@article)%>
<%= link_to 'Delete', article_path(@article.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}  %>