<h1><%= @user.username %></h1>

<%= gravatar_for @user.email, size: 200  %>

<% if is_logged_in? && @user == current_user %>
    <%= link_to 'Edit Profile', edit_user_path(@user)%>
    <%= link_to 'Delete Profile', user_path(@user), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
<% end %>

<h3>Articles</h3>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<%= render 'articles/article' %>