<h1>Create a Category</h1>

<%= render 'shared/error', obj: @category %>

<%= form_with(model: @category, local: true, data: {turbo: false}) do |form|  %>
    <%= form.label :name, "Name:" %>
    <br />
    <%= form.text_field :name %>
    <br />
    <br />
    <%= form.submit %>
<% end %>