<div class="navbar">
    <%= link_to 'Home', root_path  %>
    <%= link_to 'Browse Articles', articles_path  %>
    <%= link_to 'Browse Categories', categories_path  %>
    <%= link_to 'About', about_path  %>
    <%= link_to 'Create', new_article_path if is_logged_in? %>
    <%= link_to 'Sign up', signup_path if !is_logged_in? %>
    <%= link_to "Hey,#{"Admin" if current_user.admin?} #{current_user.username}", user_path(current_user) if is_logged_in?%>
    <%= link_to 'Login', login_path  if !is_logged_in?%>
    <%= link_to 'Logout', logout_path , data: {turbo_method: :delete} if is_logged_in? %>
    <%= link_to 'All Users', users_path %>
</div>